/* Importación de estilos generales */
@import "./index.css";

body {
  width: 100%;
  height: 100vh;
  margin: 0; /* Agregado para eliminar el margen predeterminado */
  padding: 0; /* Agregado para eliminar el relleno predeterminado */
}

.seccion-categorias {
  display: flex;
  justify-content: center;
  margin-left: 70px;
  margin-bottom: 35px;
}

.card-categorias {
  height: 95%;
  position: relative;
  background-color: #f1eadf;
}

.card-categorias a {
  text-decoration: none;
  color: black;
  position: absolute;
  bottom: 7px;
  right: 7px;
}

/* Botón "Más Información" de la página de categorías */
.boton-categoria {
  background-color: #d9ad2b;
  border-radius: 5px;
  color: #014040;
  font-weight: bold;
}

.row > h2 {
  color: var(--colorTexto);
  text-shadow: 1px 1px 6px black;
  font-family: var(--textoTitulo);
  font-size: 50px;
}

.text2-k {
  font-family: var(--textoContenido);
  font-size: 1em;
  font-weight: 500;
  color: #014040;
  text-align: justify;
}

.text2-k2 {
  font-family: var(--textoContenido);
  font-size: 1em;
  font-weight: lighter;
  color: #014040;
}

.text3-i {
  font-family: var(--textoContenido);
  font-size: 1.3em;
  font-weight: bold;
  color: #014040;
}

/* Media Queries para diferentes tamaños de pantalla */

/* Pantallas medianas (601px - 1100px) */

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .row-categoria {
    flex-direction: column;
  }
}

/* Pantallas pequeñas (< 600px) */
@media screen and (max-width: 600px) {
  .seccion-categorias {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 0; /* Eliminar el margen izquierdo en pantallas pequeñas */
    margin-bottom: 20px; /* Reducir el margen inferior en pantallas pequeñas */
  }
}
