@import "./index.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* PALETA DE COLORES */
  --colorTexto: #f0f3ff;
  --colorContraste: #027368;
  --colorFondo: #f2e0c9;

  /* TIPOGRAFÍA */
  --textoTitulo: "Poppins", sans-serif;
  --textoContenido: "Montserrat", sans-serif;
}

.contact {
  width: 80%;
  margin: 100px auto;
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--textoContenido);
}

.texto{
  color: var(--colorTexto);
  font-family: var(--textoTitulo);
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 6px black;
}

.mensaje{
  color: var(--colorContraste);
  font-size: 35px;
  text-align:center;
}

.formulario{
  margin-top: 50px;
}

/* boton */
.boton {
  background-color: var(--colorContraste);
  border-radius: 5px;
  color: var(--colorTexto);
  width: 120px;
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .texto{
    margin-bottom: 20px;
  }

  .contact {
    width: 85%;
    height: 100%;
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    width: 95%;
    margin: 10px 10px;
    font-size: 1.2rem;
  }

  .texto{
    font-size: 38px;
  }

  .mensaje {
    font-size: 18px;
    text-align: center;
  }
}
